<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>

<body>
    <h1 id="headings">URL-SHORTENER</h1>
    <div class="container">



        <form action="/shortUrls" method="POST" class="form">
            <label for="fullURL">Url</label>
            <input required placeholder="URL" type="url" name="fullURL" id="fullURL">
            <button type="submit">Shrink</button>
        </form>
        <div class="table-container">

            <table class="table">
                <thead>
                    <tr>
                        <th>Full URL</th>
                        <th>Short URL</th>
                        <th>Clicks</th>
                    </tr>
                </thead>
                <tbody>
                    <% shortUrls.forEach(shortUrl => { %>
                        <tr>
                            <td>
                                <a href="<%= shortUrl.full %>">
                                    <%= shortUrl.full %>
                                </a>
                            </td>
                            <td>
                                <a href="<%= shortUrl.short %>">
                                    <%= shortUrl.short %>
                                </a>
                            </td>
                            <td>
                                <%= shortUrl.clicks %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>

        </div>
    </div>

</body>

</html>